@font-face {
    font-family: 'Averta';
    src: url('Averta-Light.eot');
    src: local('☞Averta Light'), local('Averta-Light'),
        url('Averta-Light.eot?#iefix') format('embedded-opentype'),
        url('Averta-Light.woff2') format('woff2'),
        url('Averta-Light.woff') format('woff'),
        url('Averta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-ExtraBoldItalic.eot');
    src: local('☞Averta ExtraBold Italic'), local('Averta-ExtraBoldItalic'),
        url('Averta-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('Averta-ExtraBoldItalic.woff') format('woff'),
        url('Averta-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Bold.eot');
    src: local('☞Averta Bold'), local('Averta-Bold'),
        url('Averta-Bold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Bold.woff2') format('woff2'),
        url('Averta-Bold.woff') format('woff'),
        url('Averta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Regular.eot');
    src: local('☞Averta'), local('Averta-Regular'),
        url('Averta-Regular.eot?#iefix') format('embedded-opentype'),
        url('Averta-Regular.woff2') format('woff2'),
        url('Averta-Regular.woff') format('woff'),
        url('Averta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Averta';
    src: url('Averta-Semibold.eot');
    src: local('☞Averta Semibold'), local('Averta-Semibold'),
        url('Averta-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Averta-Semibold.woff2') format('woff2'),
        url('Averta-Semibold.woff') format('woff'),
        url('Averta-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

